/* ================= BUTTON BACK ================= */

.btn-back{
  margin-top:24px;
  padding:12px 26px;
  border:none;
  border-radius:30px;
  background:#0b2a4a;
  color:#fff;
  font-size:14px;
  font-weight:600;
  cursor:pointer;
  transition:.25s ease;
}

.btn-back:hover{
  background:#0f3a66;
  transform:translateY(-2px);
}

.btn-back:active{
  transform:scale(.97);
}
